* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #efefef;
}

.top_image {
  width: 100%;
  height: 50vh;
  background-image: url(../images/f_50_topimg.jpg);
}

.top_image h1 {
  font-size: 4em;
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
}

.top_image p {
  font-family: fantasy;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
}

nav {
  padding-top: 10px;
  background-color: #55a6e44c;
}

nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: fantasy;
}

nav ul a {
  font-size: 1.5em;
  text-decoration: none;
}

nav ul li:not(:first-child) {
  margin-left: 10%;
}

.wrapper {
  max-width: 70%;
  margin: 0 auto;
  background-color: #efefef;
  padding: 2em;
}

.wrapper article section {
  padding-top: 20px;
}

.wrapper article section h2 {
  display: inline;
  font-size: 3em;
  border-bottom: 3px solid crimson;
}

.wrapper article section h2 .icon {
  margin-right: 20px;
  font-size: 0.9em;
}

.wrapper article section .contents {
  margin: 50px 0 100px 0;
  padding: 2em;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  border: 6px solid #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.wrapper article section .contents .image_1 {
  width: 70%;
  height: auto;
}

.wrapper article section .contents .image_1 img {
  border-radius: 50%;
  width: 100%;
  -webkit-box-shadow: 4px 4px 8px gray;
          box-shadow: 4px 4px 8px gray;
}

.wrapper article section .contents .plofile {
  font-size: 1.3em;
  margin-left: 8%;
}

.wrapper article section .contents .content {
  width: 33%;
  border: 2px solid black;
  overflow-wrap: break-word;
}

.wrapper article section .contents .content h3 {
  text-align: center;
  font-size: 1.3em;
  padding: 10px;
}

.wrapper article section .contents .content__image {
  margin: 0 auto;
  width: 100%;
}

.wrapper article section .contents .content__image img {
  width: 100%;
}

.wrapper article section .contents .content p {
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
}

.wrapper article section .contents .content:not(:first-child) {
  margin-left: 1%;
}

.wrapper article section table {
  font-size: 30px;
}

.wrapper article section table th {
  padding-right: 130px;
  line-height: 2em;
  font-weight: bold;
}

.wrapper article section .fa-envelope {
  color: crimson;
  font-size: 1.5em;
}

.wrapper article section .fa-twitter {
  color: deepskyblue;
  font-size: 1.5em;
}

.wrapper article section .faa-parent a {
  font-size: 1.5em;
  padding-left: 0.3em;
  text-decoration: none;
}

.wrapper article section #block {
  display: block;
}

a:visited {
  color: blue;
}

a:hover {
  color: rgba(43, 76, 221, 0.671);
}

footer {
  text-align: center;
  color: white;
  line-height: 10vh;
  font-size: 1em;
  width: 100%;
  height: 10vh;
  background-color: gray;
}
/*# sourceMappingURL=style.css.map */