* {
  box-sizing: border-box;
}
.top_image {
  text-align: center;
  position: relative;

}

.aaa {
position: absolute;
top: 0;
}

img {
  width: 100%;
}

.top_image h2 {
  top: 0;
  font-size: 60px;
  font-family: fantasy;
}

.top_image p {
  top: 50px;
  font-family: fantasy;
}
nav {
  margin: 20px 0;
}
ul {
display: flex;
list-style: none;
justify-content: center;
font-family: fantasy;
}

nav ul li:not(:first-child) {
  margin-left: 10%;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}




